.border-1{
    border: 1px solid blue;
    border-radius: 10px;
}
.width-20{
 width: 20%;
 height: 20%;
}

.change-password{
    cursor: pointer;
    color: red ;
    transition: 1.1s;
}
.border-left-1{
    border-left: 1px solid blue;
}
.mouse-pointer{
    cursor: pointer;
}
.hover-items{
    transition: all 1.01s ease;
}
.hover-items:hover{
    transform: scale(1.02); /* slightly enlarge */
    box-shadow: 10px 14px 25px rgba(93, 106, 254, 0.2); /* add shadow */
    border-color: rgba(178, 96, 255, 0.908);
    
}